@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Jost', system-ui, -apple-system, sans-serif;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Inter, Arial, Helvetica, sans-serif;
}
/* Base state */
/* Swiper size safety */
.swiper,
.swiper-wrapper,
.swiper-slide {
  width: 100%;
  height: 100%;
}

/* Zoom animation */
.hero-bg {
  transform: scale(1);
  transition: transform 5s linear;
}

.swiper-slide-active .hero-bg {
  transform: scale(1.25);
}

/* Pagination dots */
.hero-bullet {
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 255, 0.4);
  display: inline-block;
  margin: 0 6px;
  border-radius: 50%;
  transition: all 0.4s ease;
}

.hero-bullet-active {
  background: #ffffff;
  transform: scale(1.4);
}
.title {
  @apply text-3xl md:text-4xl pb-5;
}
@layer components {
  .border {
    @apply border-gray-200;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}